*{
    padding: 0;
    margin: 0;
}


a:hover {
    text-decoration: underline;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
}

body{
    background: url(../img/basket-801708_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
 
}

.facebook{
    margin-left: 78%;
    width: 30px;
    margin-top: 4px;
}

.instagram{
    width: 30px;
    margin-left: 4px;
}

.twitter{
    width: 30px;
    margin-left: 4px;
        
}


.nav{
    
    width: 100%;
    background-color: rgba(0, 0, 0 , .6);
    height: 40px;
}


.aside{
    float: left;
    width: 450px;
    height: 550px;
    background-color: rgba(0, 0, 0 , .6);
    /* background-color: rgba(65,65,65); */
    margin-left: 5%;
    margin-top: 2%;
    border-radius: 7px;
}


.sport{
    color: #ffffff;
    width: 111px;
    height: 31px;
    margin-top: 4%;
    margin-left: 5%;
}

.tech{
    color: #FE620B;
    margin-left: 73px;
    width: 34px;
    font-size: 28px;;
}

.titulo{
    color: #ffffff;
    margin-top: 38%;
    margin-left: 6%
}

.titulo-menor{
     color: #FE620B;
     margin-left: 3%;
}

.ano{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.4);
    margin-top: 30%;
    margin-left: 5%;
    margin-top: 46%;
}

.home, .sobre {
    font-size: 17px;
    color: #ffffff;
    text-decoration: none;
    float: left;
    margin-top: 10px;
  }
  
  .home:hover, .sobre:hover {
    text-decoration: underline;
    color: #FE620B;
  }
  
.home {
    margin-left: 2%;
  }
  
.sobre {
    margin-left: 3%;
  }


.principal{
    float: right;
    width: 450px;
    height: 550px;
    background-color: rgba(0, 0, 0 , .6);
    /* background-color: rgb(65, 65, 65); */
    margin-right: 5%;
    margin-top: 2%;
    border-radius: 7px;
}

.entrar{
    color: #ffffff;
    margin-left: 21%;
    width: 103px;
    margin-top: -4%;
    padding: 20%;
}


input{
    
    display: block;
    width: 306px;
    margin-bottom: 15px;
    border: none;
    background: transparent;
    border-bottom: 2px solid #fff;
    outline: none;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    margin-left: 18%;
}

button{
    position: relative;
    font-size: 13px;
    color: #fff;
    width: 116px;
    height: 50px;
    border-radius: 4px;
    border: none;
    margin-left: 40%;
    margin-top: 10%;
    background: transparent;
    border: solid 1px #fff;
    
}

::-webkit-placeholder{
    color: #fff;
    
}

button::before{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0%;
    height: 100%;
    background: rgba(220,220,220, .2 );
}

button:hover::before{
    transition: all 1s linear;
    width: 100%;
}



a{

    text-decoration: none;
    color: #FE620B;
}

.logo{

    text-decoration: none;   

}

.logo:hover{
    text-decoration: none;
}

.esqueceu:hover {
    text-decoration: underline;

 }




.registrar{
    position: relative;
    font-size: 13px;
    color: #ffffff;
    margin-left: 20%;
    margin-top: 40px;
    display: inline-block;
   
}


.esqueceu{
    font-size: 13px;
    margin-left: 55%;
}

.tremer{
    animation : tremer 0.3s linear 2;
}

@keyframes tremer{
    0%{
        transform: translateX(0%);
    }25%{
        transform: translateX(10%);
    }50%{
        transform: translateX(-10%);
    }100%{
        transform: translateX(0%);
    }
}


/* .entrar{
       font-size: 26px;
        color:black;
        margin-left: 42%;
        margin-top: 20%;
        margin-bottom: 15%; */


/* input{
    display: block;
  width: 450px;
  font-size: 13px;
  color: #495057;
  border: none;
  border-bottom: 2px solid black;
  margin-left: 18%;
  margin-bottom: 5%; */


/* ::-webkit-placeholder{
    color: #FE620B;
}

button{
    position: relative;
    width: 100px;
    padding: 7px;
    color: #fff;
    border: solid 1px #fff;
    left: 50%;
    margin-left: -50px;
    margin-top: 45px;
    border-radius: 2px;
    cursor: pointer;
}

button::before{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 100%;
    background: rgba(245,222,179,.3);
}

button:hover::before{
    transition: all 1s linear;
    width: 100%;
} */

